/* OrderSucess.css */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .order-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    animation: fadeIn 1s ease-out;
  }
  
  .order-success-container h1 {
    animation: fadeInDown 1s ease-out;
  }
  
  .order-success-container p {
    animation: fadeInDown 1s ease-out;
  }
  
  .order-success-container ul {
    animation: fadeInDown 1s ease-out;
  }
  
  .order-success-container button {
    animation: fadeInDown 1s ease-out;
  }
  
  .animate-slide-in {
    animation: slideInFromRight 1s ease-out forwards;
  }
  