/* .prostatus{
   background-color: black;
   color: white;
   position: absolute;
   margin: 17px 0 0 20px;

} */
/* .menudetails{
   display: flex;
   flex-wrap: wrap;
   background-color: black;
} */